/* 字体加粗 */
.fb{
    font-weight: bold;
}
/* 红色字体 */
.fr{
    color: red;
}
/* 浅灰色字体 */
.fg{
    font-size: 12px;
    color: #cdcccb;
}
/* 字体贯穿线 */
.flt{
    text-decoration: line-through;
}
/* 红色渐变 */
.frj{
    /* -webkit-background-clip: text; */
    /* background: linear-gradient(90deg, #FF2A00, #FF00AF);
    background-clip: text;
    -webkit-background-clip: text; */
    color: transparent;
}
/* 绿色渐变 */
.flj{
    /* -webkit-background-clip: text; */
    font-weight: bold;
    background: linear-gradient(90deg, #2AD396, #85BB1F);
}
/* 底部导航 */
#footer{
    height: 40px;
    background-color: white;
}
#footer ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#footer ul>li>a{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    color: #8b8b8b;
}
.active1{
    color: tomato !important;
}